.icon11 {
	/*position: absolute;*/
	width: 17px;
	height: 14px;
	background-position: -919px -88px;
	display: inline-block;
	background-image: url(https://static.xudazhu.cn/img/icons.png);
	text-align: center;
	line-height: 42px;
}